@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans;
  @apply font-normal;
  @apply antialiased grayscale-0;
}

html {
  /* Layout */
  @apply relative;
  /* Sizing */
  @apply w-screen h-screen max-w-full min-h-screen;
  /* Spacing */
  @apply m-0 p-0;
}

body {
  /* Layout */
  @apply relative block;
  /* Sizing */
  @apply w-screen h-screen min-h-screen;
  /* Spacing */
  @apply m-0 p-0;
  /* Flexbox & Grid */
  /* Borders */
  /* Backgrounds */
  @apply bg-light-200 dark:bg-dark-300;
  /* Effects */
  /* Animation */
  @apply transition delay-100 duration-1000;
  /* Interactivity */
  /* Typo */
  @apply text-dark-300 dark:text-light;
  /* Tables */
}

a {
  @apply font-semibold;
  @apply text-sm text-accent-500;
  @apply hover:text-accent-400 dark:hover:text-accent-600;
}

#root {
  /* Layout */
  @apply relative flex;
  /* Sizing */
  @apply w-screen h-screen min-h-screen;
  /* Spacing */
  @apply m-0 p-0;
  /* Flexbox & Grid */
  @apply flex-col items-start justify-start;
  /* Borders */
  /* Backgrounds */
  /* Effects */
  /* Animation */
  /* Interactivity */
  /* Typo */
  @apply text-center;
  /* Tables */
}

header {
  /* Layout */
  @apply relative flex;
  /* Sizing */
  @apply w-screen h-screen max-w-full min-h-screen;
  /* Spacing */
  @apply m-0 p-0;
  /* Flexbox & Grid */
  @apply flex-col items-start justify-start;
  /* Borders */
  /* Backgrounds */
  @apply bg-light-300;
  @apply dark:bg-dark-200;
  /* Effects */
  @apply transition delay-100 duration-1000;
  /* Animation */
  /* Interactivity */
  /* Typo */
  @apply text-dark-300;
  @apply dark:text-light;
  /* Tables */
}

#main {
  /* Layout */
  @apply relative block;
  /* Sizing */
  @apply w-screen min-h-screen;
  /* Spacing */
  @apply m-0;
  /* Flexbox & Grid */
  /* Borders */
  /* Backgrounds */
  @apply bg-light-200;
  /* Effects */
  /* Animation */
  /* Interactivity */
  /* Typo */
  /* Tables */
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
